.ContactListItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}

.ContactRemoveBtn {
  position: relative;
  display: block;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: var(--icon-background-color);
  border-radius: 50%;
  margin: 0;
  transition: var(--bgc-transition);
}

.ContactRemoveBtn:hover,
.ContactRemoveBtn:focus {
  background-color: var(--icon-hover-background-color);
}

.ContactRemoveBtn:hover .deleteIcon,
.ContactRemoveBtn:focus .deleteIcon {
  color: var(--default-hover-color);
}

.deleteIcon {
  position: absolute;
  color: var(--default-color);
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
}
